.pokemon-image {
    min-height: 250px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section--left-alignment {
    text-align: left;
}